<!-- Main container -->
<div class="min-h-screen bg-gray-100 p-8 flex flex-col items-center">
  <!-- Table container -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-8 bg-gray-800 text-gray-200">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">#</th>
          <th scope="col" class="px-6 py-3">Date Debut</th>
          <th scope="col" class="px-6 py-3">Date Fin</th>
          <th scope="col" class="px-6 py-3">Jours Restants</th>
          <th scope="col" class="px-6 py-3">Statut</th>
          <th scope="col" class="px-6 py-3">Type</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conge of conges" class="bg-gray-900 border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4">{{conges.indexOf(conge) + 1}}</th>
          <td class="px-6 py-4">{{formatDateToDayMonth(conge.date_debut)}}</td>
          <td class="px-6 py-4">{{formatDateToDayMonth(conge.date_fin)}}</td>
          <td class="px-6 py-4">{{calculateRemainingDays(conge.date_debut, conge.date_fin)}}</td>
          <td class="px-6 py-4">{{conge.statut}}</td>
          <td class="px-6 py-4">{{conge.type_conge}}</td>
          <td class="px-6 py-4 text-right">
            <button (click)="acceptLeave(conge.id)" class="mr-2 font-medium text-green-400 hover:underline">
              Accept
            </button>
            <button (click)="refuseLeave(conge.id)" class="font-medium text-red-400 hover:underline">
              Refuse
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Button to toggle pie chart visibility -->
  <div class="mb-4">
    <button (click)="togglePieChart()" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
      {{ showPieChart ? 'Hide Stat' : 'Show Stat' }}
    </button>
  </div>

  <!-- Pie chart container -->
  <div *ngIf="showPieChart" class="mb-8 flex justify-center" style="width: 500px; height: 300px;">
    <canvas baseChart
      [data]="pieChartData"
      [options]="pieChartOptions"
      [type]="'pie'">
    </canvas>
  </div>

  <!-- Print button -->
  <div class="mb-4">
    <button (click)="printPage()" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
      Imprimer la page
    </button>
  </div>

  <!-- Signature image -->
  <div class="mt-8">
    <img src="../assets/sign.png" alt="Signature" style="max-width: 200px; max-height: 50px;" />
  </div>
</div>
