<!-- Main container -->
<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <!-- Add Conge form container -->
  <form (ngSubmit)="addConge()" class="max-w-lg mx-auto bg-gray-800 text-gray-200 p-8 rounded-lg shadow-lg">
    <div class="mb-6">
      <label class="block mb-2 text-sm font-medium">Selectionner la date</label>
      <div class="flex items-center space-x-4">
        <input [(ngModel)]="NewConge.date_debut" name="start" type="date" class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Date debut">
        <span class="text-gray-500">to</span>
        <input [(ngModel)]="NewConge.date_fin" name="end" type="date" class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Date fin">
      </div>
    </div>
    <div class="mb-6">
      <label for="countries" class="block mb-2 text-sm font-medium">Selectionner Type</label>
      <select name="type_conge" [(ngModel)]="NewConge.type_conge" id="countries" class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="{{newConge.PAYEE}}">Congé payée</option>
        <option value="{{newConge.MALADIE}}">Maladie</option>
        <option value="{{newConge.RTT}}">Rtt</option>
      </select>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-6 py-3 text-center">Envoyer</button>
  </form>
</div>
